#Contenido
{
	border: 1px dashed green ;
	text-align:center; 
	padding: 10px;
	background-color: white;
}
#Contenedor
{
	/*Margen interno*/
	/*
	padding-right: 20px;
	padding-left: 80px;
	padding-top: 20px;
	padding-bottom: 50px;*/
	padding: 10px 30px 40px
	80px;
	background-color: #EECDAE;


	/*Margen externo*/
	/*
	margin-top: 100px;
	margin-bottom: 30.5px;
	margin-left: 250px;
	margin-right: 250px;
*/
	margin: 100px 200px ;

	/*Bordes*/
	border-width: 10px 4px;
	border-style: solid;
	border-color: #8F3DB7;


}
