#Contenido
{
	border: 1px dashed green ;
	text-align:center; 
	padding: 10px;
	background-color: white;
}
#Contenedor
{
	/*Margen interno*/
	padding: 10px 30px 40px
	80px;
	background-color: #EECDAE;


	/*Margen externo*/
	margin: 100px 200px ;

	/*Bordes*/
	border-width: 10px 4px;
	border-style: solid;
	border-color: #8F3DB7;


}
